.App {
  max-width: 800px;
  margin: 60px auto;
}

.App .Weather {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #878787;
}

.App form.Form {
  margin-top: 30px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
.App .Form .btn {
  background: #5dacbd;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}
.App .Form .search-input {
  background: #edf8f8;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
.App .Form .form-control:focus {
  background: #edf8f8;
}
.App .Form .icon {
  max-height: 70px;
}
