footer.Footer {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.Footer a {
  text-decoration: none;
  color: #5dacbd;
  transition: ease-in-out 200ms;
}

.Footer a:hover {
  color: #24527a;
}
.Footer .icon {
  position: relative;
  top: -11px;
  left: -5px;
  max-height: 40px;
}
