.Geopositioning a {
  text-decoration: none;
  color: #5dacbd;
  transition: ease-in-out 200ms;
}

.Geopositioning a:hover {
  color: #24527a;
}
.Geopositioning .icon {
  max-height: 70px;
}
.Geopositioning .locate-me,
.Geopositioning .hidden-message {
  position: relative;
  font-size: 18px;
  bottom: -22px;
  color: #5dacbd;
}

.Geopositioning .hidden-message {
  text-align: right;
}
